html{
	background-color:lightgrey;
}
body{
	margin:25px;
	padding:10px;
	font-family: "courier new"
}
p{
	margin-left: 25px;
}
div{
	background-color:mediumblue;
	padding:20px;
	text-align: center;
}
.footer {
	background-color:mediumseagreen;
	padding:20px;
}
.center-content {
	display:flex;
	flex-direction:row;
	justify-content: center;
}
.column {
	flex-direction: column;
}
.remove-color{
	background-color: lightgrey;
}